@use '../sass/mixin.scss' as *;

.subtitle {
  font-family: 'Kaushan Script', sans-serif;
  font-weight: 400;
  @include font-adaptiv(30, 24);
  padding-top: 80px;
  height: 120px;

  @media (max-width:1024px) {
    & {
      padding-top: 40px;
      height: 55px;
    }
  }

  @media (max-width:320px) {
    & {
      padding-top: 40px;
      height: 80px;
      font-size: 30px;
    }
  }
}

.separator {
  width: 14%;
  margin: 20px auto;
  border-bottom: 1px solid rgba(243, 130, 129, 1);
  border-top: 0;

  @media (max-width:320px) {
    & {
      width: 42%;
      border-bottom: 4px solid #f38281;
    }
  }

}

.banner {
  text-align: center;
  color: #fff;
  max-width: 1510px;

  &>.subtitle {
    font-size: 80px;
    padding-top: 40px;
    @include font-adaptiv(64, 48);
    margin-top: 40px;

    @media (max-width:320px) {
      font-size: 36px;
      margin-top: 0;
    }
  }

  .separator {
    border-bottom: 1px solid #fff;
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  @include font-adaptiv(144, 96);
  text-transform: uppercase;
  padding: 44px 170px;

  @media (min-width:1510px) {
    font-size: 144px;
  }

  @media (max-width:1024px) {
    & {
      padding: 40px 160px 20px;
    }
  }

  @media (max-width:320px) {
    padding: 40px 0;
    font-size: 48px;
  }
}

.btn {
  margin-top: 55px;
  width: 30%;
  height: 78px;
  background: none;
  @include font-adaptiv(24, 18);
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff;

  &:hover{
    color: rgba(228, 190, 141, 1);
    background: #fff;
  }
  &:active{
    outline: 4px solid rgba(228, 190, 141, 1);
    outline-offset:-4px;
  }

  @media (max-width:1024px) {
    font-size: 18px;
    margin-top: 30px;
    height: 52px;
  }

  @media (max-width:320px) {
    width: 100%;
  }
}

.sliders {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-template-rows: 65px;
  grid-column-gap: 30px;
  margin-top: 100px;
  justify-content: center;

  #progressbar {
    border-bottom: 2px solid #fff;
    width: 100%;
  }

  .slide {
    width: 100%;
    display: flex;
    align-items: flex-end;

    span:first-child {
      font-size: 36px;
    }

    span:last-child {
      text-transform: uppercase;
      font-weight: 500;
    }

    @media (max-width:1024px) {
      width: 220px;

      span:first-child {
        font-size: 24px;
      }
    }

    @media (max-width:320px) {
      display: none;
    }
  }

  @media (max-width:1024px) {
    & {
      grid-template-columns: repeat(4, 230);
      grid-template-rows: 58px;
      margin-top: 80px;
      grid-column-gap: 20px;

      #progressbar {
        border-bottom: 2px solid #fff;
        width: 220px;
      }
    }
  }

  @media (max-width:320px) {
    & {
      grid-template-columns: repeat(4, 57);

      #progressbar {
        border-bottom: 2px solid #fff;
        width: 57px;
      }
    }
  }
}