@use '../sass/mixin.scss' as *;

.service {
  text-align: center;
  height: 985px;
  max-width: 1510px;

  &>p {
    padding: 20px 0 80px;
  }

  .service__block {
    display: flex;
    justify-content: space-between;
    max-height: 485px;

    @media (max-width:1024px) {
      & {
        max-height: 410px;
      }
    }

    img {
      width: 50%;
    }

    &-list {
      width: 50%;
      text-align: left;

      details {
        padding-bottom: 20px;


        .heading {
          margin-left: 30px;
          padding-left: 20px;
          height: 100px;
          border: 1px solid rgba(198, 203, 205, 1);
          @include font-adaptiv(24, 18);
          text-transform: uppercase;
          font-weight: 700;
          display: flex;
          align-items: center;

          img {
            width: 42px;
            height: 42px;
            margin-right: 40px;
          }
        }

        .desc {
          padding: 15px 85px 15px 50px;
          height: 160px;
          overflow: auto;
          margin: 0;

          @media (max-width:1024px) {
            & {
              height: 100px;
            }
          }
        }
      }
    }
  }

  @media (max-width:1024px) {
    & {
      height: 880px;
    }
  }

  @media (max-width:320px) {
    & { .title{
      height: 55px;
    }
      &>p {
        padding: 0 0 40px;
      }

      height: 980px;

      .service__block {
       
        flex-direction: column;

        img {
          width: 100%;
          padding-left: 10px;
        }
        &-list {width: 100%;
          padding-top: 20px;
        details .heading{
          margin-left: 0;
          padding-left: 0;
          height: 78px;       
          font-size: 18px;   
        }
        }

      }


    }
  }
}

summary {
  list-style: none;
  position: relative;
}

details summary::after {
  content: ' ';
  display: inline-block;
  background: url(../image/summary-close.svg);
  height: 42px;
  width: 42px;
  position: absolute;
  right: 20px;

}

details[open] summary::after {
  content: ' ';
  display: inline-block;
  background: url(../image/summary-open.svg);
  height: 42px;
  width: 42px;
  position: absolute;
  right: 20px;
}

details p::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(245, 245, 245, 1);
}

details p::-webkit-scrollbar-thumb {
  background-color: rgba(149, 225, 211, 1);
}